# Module 2, Stream C, Lesson 1 - Time series Quiz

1. Time series data can be of the following type:  

    a. Timestamps, or specific instants in time  
    b. Fixed periods  
    c. Intervals of time, with a start and end timestamp   
    d. Elapsed time  
    e. All of the above **(correct)**

2. What is the output of the following snippet:

In [9]:
from datetime import datetime 

datestrs = ['10/31/1996', '11/9/1989']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(1996, 10, 31, 0, 0), datetime.datetime(1989, 11, 9, 0, 0)]

    a. datestrs(1996,31,10), datestrs(1989,9,11)  
    b. datetime('10/31/1996')    
       datetime('1989,9,11')  
    c. [datetime.datetime(1996, 10, 31, 0, 0), datetime.datetime(1989, 11, 9, 0, 0)] **(correct)**

3. What does the `DateFrame.count()` built-in function do in the next snippet?

In [8]:
import pandas as pd
import numpy as np

dates = pd.DatetimeIndex(['1/1/2000', '1/12/2023', '1/12/2023', '1/12/2023','1/3/2016'])
duplic = pd.Series(np.arange(len(dates)), index=dates)
uniq = duplic.index.is_unique
if uniq == False:
    grouping = duplic.groupby(level=0)
    print(grouping.mean())
    print(grouping.count())
    print(duplic)

2000-01-01    0
2016-01-03    4
2023-01-12    2
dtype: int32
2000-01-01    1
2016-01-03    1
2023-01-12    3
dtype: int64
2000-01-01    0
2023-01-12    1
2023-01-12    2
2023-01-12    3
2016-01-03    4
dtype: int32

a. Count the number of times the mean value is repeated  
b. Count the number of values given for a date group **(correct)**  
c. Count the number of duplicated items based on the boolean output of `is_unique` attribute

4. Generic time series have not fixed frequencies, what pandas tool allow resampling the data on a monthly basis for the following snippet?

In [30]:
 dates = [datetime(2011, 1, 2), datetime(2011, 3, 5), datetime(2011, 8, 7), 
         datetime(2011, 9, 8), datetime(2012, 1, 10), datetime(2012, 5, 12)]

time_series = pd.Series(np.random.randn(6), index=dates)
print('Original time series = \n', time_series)

Original time series =
 2011-01-02   -1.155201
2011-03-05   -0.071243
2011-08-07    2.166473
2011-09-08    1.100958
2012-01-10   -0.287590
2012-05-12    0.465290
dtype: float64

2011-01-02 00:00:00   -1.155201
2011-01-02 00:03:00         NaN
2011-01-02 00:06:00         NaN
2011-01-02 00:09:00         NaN
2011-01-02 00:12:00         NaN
                         ...
2012-05-11 23:48:00         NaN
2012-05-11 23:51:00         NaN
2012-05-11 23:54:00         NaN
2012-05-11 23:57:00         NaN
2012-05-12 00:00:00    0.465290
Freq: 3T, Length: 238081, dtype: float64

a. time_series.resample('M').mean()  **(correct)**  
b. time_series.resample('3T').mean()  
c. It is not possible because the series does not have the same starting date

5. What does the `shift()` method do to the following series?

In [31]:
 dates = [datetime(2011, 1, 2), datetime(2011, 3, 5), datetime(2011, 8, 7), 
         datetime(2011, 9, 8), datetime(2012, 1, 10), datetime(2012, 5, 12)]

time_series = pd.Series(np.random.randn(6), index=dates)
time_series = time_series.resample('M').mean() 
time_series.shift(2)

2011-01-31         NaN
2011-02-28         NaN
2011-03-31    0.140274
2011-04-30         NaN
2011-05-31   -1.304311
2011-06-30         NaN
2011-07-31         NaN
2011-08-31         NaN
2011-09-30         NaN
2011-10-31    0.931497
2011-11-30   -2.474645
2011-12-31         NaN
2012-01-31         NaN
2012-02-29         NaN
2012-03-31    0.016415
2012-04-30         NaN
2012-05-31         NaN
Freq: M, dtype: float64

a. The `shift()` method shifts the date index by two days    
b. The `shift()` method shifts the date index by two months  
c. The `shift()` method shifts the date index by two years  
d. The `shift()` method shifts the values of the series by two columns leaving the date index unchanged  **(correct)**